.about {

   
    background-color: $color-gray-light;
    letter-spacing: 0.055em;
    @extend %section;
    
    h2 {
        margin-top: 0;
    }

    &__container {
        display: grid;
        @extend %container;

        @include lg-min {
            grid-gap: $gap * 5;
            grid-template-columns: 1fr 271px;

            p {
                font-size: 1.125rem;
            }
        }

        p:first-child {
            position: relative;
            margin-top: -5px;
        }
    }

    &__content {
        p {
            &:first-of-type {
                position: relative;
                margin-top: -5px;
            &::after {
                position: absolute;
                top: 0;
                width: 2px;
                height: 200px;
                content: "";
                background-color: rgba($color-gray, 0.1);
                
                @include lg-min {
                    right: -50px;
                }
            }
        }
                &:last-of-type {
                    margin: 0;
                }
       
        }
        
        @include lg-min {
            p {
                font-size: 1.125rem;
            }
        }
    }

    &__img {
        display: grid;
        align-content: center;
        justify-items: center;
    }
}